*{padding: 0; margin: 0; box-sizing: border-box;}
li{list-style: none;}
.App{max-width: 1000px; margin: auto;}
.movie{display: flex;}
.txtbox{width: 750px; padding-left: 10px;}
.txtbox>*{margin: 5px 0;}
.imgbox{width: 250px;}
img{width: 100%;}

button{padding: 3px 10px; color: #666; font-size: 18px; background: transparent; border-radius: 5px; outline: none; border: none; cursor: pointer;}
button.order{margin: 0 5px 10px 0; border: 1px solid #666;}

.ReviewForm{width: 100%; margin: 50px auto; padding: 20px 5px 50px;  border: 1px solid #666; border-radius: 3px;}
.form{display: flex;}
.form>*{width: 50%; padding: 30px 5px 0;}
.form .txtbox1{padding-top: 65px;}
.form .txtbox1>*{width: 100%; padding: 5px; margin: 5px 0;}
.form button{background: #666; color: #fff;}
.imgbox1{height: 500px; overflow: hidden;}
.imgbox1>div{display: flex; justify-content: space-between; margin: 5px 0 15px; }
button.cancel{background: #ccc;}

.rating-star{display: inline-block; margin-bottom: 10px; color: #ccc; font-size: 30px; cursor: pointer;}
.rating-star.selected{color: rgb(255, 180, 19);}